<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Magic</title>
</head>
<%= @magic.generate_html(
    tag: 'body', 
    theme: 'write a letter to my mom', 
    mode: 'light',
    looks_like: "an email"
) %>
</html>
