<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Magic</title>
</head>
<%= @magic.generate_html(
    tag: 'body', 
    theme: 'wu tang clan', 
    mode: 'dark',
    generate_content: "fan fiction",
    looks_like: "wu tang clan"
) %>
</html>
